
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #A465A1;
  background-color: #1C394A;
  padding: 80px;
  margin: 100px;
  border-style: solid;
  border-color: #6188A8;
  border-radius: 20px;
  text-shadow: -1px 1.5px 2px rgb(151,255,231);
}