
.displayDiv {
    background-color: pink;
}

.displayData h5 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.generateBtn {
    background-color: rgb(54, 59, 63);
    color: papayawhip;
    border-radius: 10px;
    margin: 10px;
    width: 10em;
    height: 2.5em;
}

.generateBtn:hover {
    background-color: #A465A1;
    color: rgb(151,255,231);
}